{% extends "base.html" %}
{% block titulo %}formulario{% endblock titulo %}
{% block contenido %}
    <div class="container mt-4">
        <h2 class="mb-4 text-center">Crear Usuario</h2>

        <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn btn-success w-100">Crear Usuario</button>
        </form>

        <!-- Botón volver -->
        <div class="mt-3">
        <a href="{% url 'dashboard' %}" class="btn btn-secondary w-100">Cancelar</a>
        </div>
        <!-- /Botón volver -->
    </div>
{% endblock contenido %}
